<div class="courses-containers">
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Course List </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item
            *ngFor="let course of courses"
            (click)="selectCourse(course)"
            role="listitem"
          >
            <span matListItemTitle>{{ course.title }}</span>
            <span matListItemLine>{{ course.description }}</span>

            <button
              (click)="
                deleteCourse(course.id); $event.stopImmediatePropagation()
              "
              style="margin-top: 10px"
              color="accent"
              mat-icon-button
              matListItemMeta
            >
              <mat-icon style="margin-bottom: 5px" color="accent"
                >delete</mat-icon
              >
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="course-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Select Course </mat-card-title>
      </mat-card-header>
      <form #form="ngForm" (submit)="saveCourse()">
        <mat-card-content>
          <mat-form-field>
            <mat-label>Title</mat-label>
            <input
              #firstField
              [(ngModel)]="selectedCourse.title"
              required
              matInput
              placeholder="Title"
              type="text"
              name="title"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Description</mat-label>
            <input
              [(ngModel)]="selectedCourse.description"
              matInput
              placeholder="Description"
              type="text"
              name="description"
            />
          </mat-form-field>
          <mat-checkbox
            name="favorite"
            [(ngModel)]="selectedCourse.favorite"
            (change)="checkFavorite()"
            #checker
            [checked]="selectedCourse.favorite"
            class="example-margin"
            >{{ checker.checked ? "favorite" : "not favorite" }}</mat-checkbox
          ><br />
          <mat-slider min="1" max="100" step="1"
            ><input
              name="percentComplete"
              matSliderThumb
              [(ngModel)]="selectedCourse.percentComplete"
            />
          </mat-slider>
          {{ selectedCourse.percentComplete }}
        </mat-card-content>
        <!-- COURSE FORM -->
        <mat-card-actions>
          <button
            [disabled]="form.invalid"
            type="submit"
            color="primary"
            mat-button
          >
            Submit
          </button>
          <button type="button" mat-button (click)="cancel()">Cancel</button>
          <!-- COURSE ACTIONS -->
        </mat-card-actions>
      </form>
      <mat-card-content>
        <pre>{{ form.value | json }}</pre>
        <pre>Valid: {{ form.valid | json }}</pre>
      </mat-card-content>
    </mat-card>
  </div>
</div>
