<div class="courses-containers">
  <div class="courses-list">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Course List </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item
            *ngFor="let cource of courses"
            (click)="selectCourse(cource)"
            role="listitem"
          >
            <span matListItemTitle>{{ cource.title }}</span>
            <span matListItemLine>{{ cource.description }}</span>

            <button
              (click)="
                deleteCource(cource.id); $event.stopImmediatePropagation()
              "
              style="margin-top: 10px"
              color="accent"
              mat-icon-button
              matListItemMeta
            >
              <mat-icon style="margin-bottom: 5px" color="accent"
                >delete</mat-icon
              >
            </button>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="course-details">
    <mat-card>
      <mat-card-header>
        <mat-card-title> Select Course </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="itemCourse">
        {{ itemCourse | json }}
        <!-- COURSE FORM -->
      </mat-card-content>
      <mat-card-actions>
        <!-- COURSE ACTIONS -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
