<!-- automatically subscribes and unsubscribes from Observables as the component gets instantiated or destroyed -->
<div class="row" *ngIf="users$ | async as users">
  <div class="col-sm-6 max-width">
    <div class="list-group mb-2">
      <button class="btn btn-outline-primary">
        <app-icon icon="bi bi-plus"></app-icon>
        Добавить
      </button>
    </div>
    <div class="list-group mb-2" *ngFor="let u of users">
      <a class="list-group-item list-group-item-action" [routerLink]="[u.id]">{{
        u.name
      }}</a>
    </div>
  </div>
  <div class="col-sm-6">
    <router-outlet></router-outlet>
  </div>
</div>
