<div class="alert alert-secondary text-color">
  <h1>Пользователи</h1>
</div>

<!-- automatically subscribes and unsubscribes from Observables as the component gets instantiated or destroyed -->
<div class="row" *ngIf="users$ | async as users">
  <div class="col-sm-6 max-width">
    <div class="list-group mb-2">
      <button class="btn btn-outline-primary" (click)="isNewUserTrigger()">
        <app-icon icon="bi bi-plus"></app-icon>
        Добавить
      </button>
    </div>
    <div class="list-group mb-2" *ngFor="let u of users">
      <button
        [disabled]=""
        (click)="isNewUser = false"
        class="list-group-item list-group-item-action"
        routerLinkActive="active-link"
        [routerLink]="[u.id]"
      >
        {{ u.name }}
      </button>
    </div>
  </div>
  <div class="col-sm-6">
    <ng-template [ngIf]="!isNewUser">
      <!-- <ng-container *ngIf="!isNewUser"> -->
      <router-outlet></router-outlet>
    </ng-template>
    <ng-template [ngIf]="isNewUser">
      <app-user-form
        (onSubmit)="Submit($event)"
        (onReset)="Reset()"
      ></app-user-form>
    </ng-template>
  </div>
</div>
