<h3>Cart</h3>
<p>
  <a routerLink="/shipping">Shipping Prices</a>
</p>
<div *ngIf="items.length; else elseBlock">
  <mat-card class="cart" *ngFor="let item of items">
    <mat-card-header>
      <mat-card-title>{{ item.name }}</mat-card-title>
      <mat-card-subtitle>{{ item.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> {{ item.description }}</mat-card-content>
  </mat-card>
</div>
<ng-template #elseBlock>Your cart is empty.</ng-template>

<form [formGroup]="form" style="margin-top: 1rem">
  <mat-form-field appearance="fill">
    <mat-label>Enter your Name</mat-label>
    <input
      id="name"
      matInput
      placeholder="name"
      formControlName="name"
      required
    />
    <!-- <mat-error *ngIf="invalid">{{ getErrorMessage() }}</mat-error> -->
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="pat@example.com"
      formControlName="email"
      required
    />
    <!-- <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error> -->
  </mat-form-field>
  <br />
  <button
    class="button"
    type="reset"
    mat-stroked-button
    [disabled]="form.invalid"
    class="{{ form.invalid ? 'btn btn-secondry' : 'btn btn-primary' }}"
    (click)="onSubmit()"
  >
    Purchase
  </button>
</form>
