@import '../styles';

h2 {
color: $textLight;
font-family: $bodyFont;
@include font(2rem, 2.2rem, 600);
color: $textColor;
}

.movie-wrapper{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(190px, 190px));
grid-template-rows: repeat(auto-fill,minmax(400px, 400px));
grid-gap: 1rem;
}

.movie {
padding: 20px 15px;
background-color: white;
border-radius: 10px;
font-family: $bodyFont;
img{
margin-bottom: 10px;
border-radius: 5px;
    }
}

.movie__title {
    margin-bottom: 10px;
    @include font(1.4rem, 1.6rem, 600);
    color: $textDesc;
}
.movie__genres {
    margin-bottom: 10px;
    >*{
        padding-bottom: 1rem;
        @include font(1.2rem, 1.4rem, 400);
        color: $textDesc;
    }
}
