<main class="main">
  <div class="wrapper">
    <h2>Популярные фильмы</h2>
  </div>
  <section class="movies">
    <div class="wrapper movie-wrapper">
      <article class="movie">
        <img src="../assets/images/1.jpeg" alt="item" />
        <div class="movie__content">
          <div class="movie__title">Список Шиндлера</div>
          <div class="movie__genres">
            <span class="genre">драма,</span>
            <span class="genre"> биография,</span>
            <span class="genre"> история,</span>
            <span class="genre"> военный</span>
          </div>
          <div class="movie__year">1993</div>
        </div>
      </article>
    </div>
  </section>
</main>
