<article
  class="movie"
  *ngFor="let movie of moviesList; let i = &quot;index+1&quot;"
>
  <img src="{{ '../assets/images/' + i + '.jpeg' }}" alt="item" />
  <div class="movie__content">
    <div class="movie__title">{{ movie.name }}</div>
    <div class="movie__genres">
      <span *ngFor="let genre of movie.genre" [ngSwitch]="genre">
        <span *ngSwitchCase="1"> драма</span>
        <span *ngSwitchCase="2"> биография</span>
        <span *ngSwitchCase="3"> история</span>
        <span *ngSwitchCase="4"> фэнтези</span>
        <span *ngSwitchCase="5"> приключения</span>
        <span *ngSwitchCase="6"> боевик</span>
        <span *ngSwitchCase="7"> мультфильм</span>
        <span *ngSwitchCase="8"> комедия</span>
        <span *ngSwitchCase="9"> триллер</span>
        <span *ngSwitchCase="10"> детектив</span>
        <span *ngSwitchCase="11"> фантастика</span>
        <span *ngSwitchDefault></span>
      </span>
      <!-- <span class="genre" *ngFor="let genre of movie.genre">{{ genre }}</span> -->
    </div>
    <div class="movie__year">{{ movie.year }}</div>
  </div>
  <app-like-button></app-like-button>
</article>
