<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-color="purple">
    <div class="logo">
      <a class="simple-text logo-normal" href="#"> ADMIN </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons">person</i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons">content_paste</i>
            <p>Table List</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons">library_books</i>
            <p>Typography</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons">bubble_chart</i>
            <p>Icons</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons">location_ons</i>
            <p>Maps</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons">notifications</i>
            <p>Notifications</p>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="material-icons">language</i>
            <p>RTL Support</p>
          </a>
        </li>
        <li class="nav-item active-pro">
          <a class="nav-link" href="#">
            <i class="material-icons">unarchive</i>
            <p>Upgrade</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-panel">
    <!-- Navbar -->
    <nav
      class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top"
    >
      <div class="container-fluid">
        <div class="navbar-wrapper">
          <a class="navbar-brand" href="#">Dashboard</a>
        </div>
        <button
          aria-controls="navigation-index"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-toggle="collapse"
          type="button"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
          <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end">
          <form class="navbar-form">
            <div class="input-group no-border">
              <input
                class="form-control"
                placeholder="Search..."
                type="text"
                value=""
              />
              <button
                class="btn btn-white btn-round btn-just-icon"
                type="submit"
              >
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </div>
          </form>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="material-icons">dashboard</i>
                <p class="d-lg-none d-md-block">Stats</p>
              </a>
            </li>
            <li class="nav-item dropdown">
              <a
                aria-expanded="false"
                aria-haspopup="true"
                class="nav-link"
                data-toggle="dropdown"
                href="#"
                id="navbarDropdownMenuLink"
              >
                <i class="material-icons">notifications</i>
                <span class="notification">5</span>
                <p class="d-lg-none d-md-block">Some Actions</p>
              </a>
              <div
                aria-labelledby="navbarDropdownMenuLink"
                class="dropdown-menu dropdown-menu-right"
              >
                <a class="dropdown-item" href="#"
                  >Mike John responded to your email</a
                >
                <a class="dropdown-item" href="#">You have 5 new tasks</a>
                <a class="dropdown-item" href="#"
                  >You're now friend with Andrew</a
                >
                <a class="dropdown-item" href="#">Another Notification</a>
                <a class="dropdown-item" href="#">Another One</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a
                aria-expanded="false"
                aria-haspopup="true"
                class="nav-link"
                data-toggle="dropdown"
                href="#"
                id="navbarDropdownProfile"
              >
                <i class="material-icons">person</i>
                <p class="d-lg-none d-md-block">Account</p>
              </a>
              <div
                aria-labelledby="navbarDropdownProfile"
                class="dropdown-menu dropdown-menu-right"
              >
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Log out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">content_copy</i>
                </div>
                <p class="card-category">Used Space</p>
                <h3 class="card-title">
                  49/50
                  <small>GB</small>
                </h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">warning</i>
                  <a href="#pablo">Get More Space...</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">store</i>
                </div>
                <p class="card-category">Revenue</p>
                <h3 class="card-title">$34,245</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">date_range</i> Last 24 Hours
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-danger card-header-icon">
                <div class="card-icon">
                  <i class="material-icons">info_outline</i>
                </div>
                <p class="card-category">Fixed Issues</p>
                <h3 class="card-title">75</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">local_offer</i> Tracked from Github
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                  <i class="fa fa-twitter"></i>
                </div>
                <p class="card-category">Followers</p>
                <h3 class="card-title">+245</h3>
              </div>
              <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Just Updated
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-navigation">
                  <div class="nav-tabs-wrapper">
                    <span class="nav-tabs-title">Tasks:</span>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="tab-content">
                  <div class="tab-pane active" id="profile">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  checked
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                />
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td>
                            Sign contract for "What are conference organizers
                            afraid of?"
                          </td>
                          <td class="td-actions text-right">
                            <button
                              class="btn btn-primary btn-link btn-sm"
                              rel="tooltip"
                              title="Edit Task"
                              type="button"
                            >
                              <i class="material-icons">edit</i>
                            </button>
                            <button
                              class="btn btn-danger btn-link btn-sm"
                              rel="tooltip"
                              title="Remove"
                              type="button"
                            >
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                />
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td>
                            Lines From Great Russian Literature? Or E-mails From
                            My Boss?
                          </td>
                          <td class="td-actions text-right">
                            <button
                              class="btn btn-primary btn-link btn-sm"
                              rel="tooltip"
                              title="Edit Task"
                              type="button"
                            >
                              <i class="material-icons">edit</i>
                            </button>
                            <button
                              class="btn btn-danger btn-link btn-sm"
                              rel="tooltip"
                              title="Remove"
                              type="button"
                            >
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                />
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td>
                            Flooded: One year later, assessing what was lost and
                            what was found when a ravaging rain swept through
                            metro Detroit
                          </td>
                          <td class="td-actions text-right">
                            <button
                              class="btn btn-primary btn-link btn-sm"
                              rel="tooltip"
                              title="Edit Task"
                              type="button"
                            >
                              <i class="material-icons">edit</i>
                            </button>
                            <button
                              class="btn btn-danger btn-link btn-sm"
                              rel="tooltip"
                              title="Remove"
                              type="button"
                            >
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  checked
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                />
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td>
                            Create 4 Invisible User Experiences you Never Knew
                            About
                          </td>
                          <td class="td-actions text-right">
                            <button
                              class="btn btn-primary btn-link btn-sm"
                              rel="tooltip"
                              title="Edit Task"
                              type="button"
                            >
                              <i class="material-icons">edit</i>
                            </button>
                            <button
                              class="btn btn-danger btn-link btn-sm"
                              rel="tooltip"
                              title="Remove"
                              type="button"
                            >
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="messages">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  checked
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                />
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td>
                            Flooded: One year later, assessing what was lost and
                            what was found when a ravaging rain swept through
                            metro Detroit
                          </td>
                          <td class="td-actions text-right">
                            <button
                              class="btn btn-primary btn-link btn-sm"
                              rel="tooltip"
                              title="Edit Task"
                              type="button"
                            >
                              <i class="material-icons">edit</i>
                            </button>
                            <button
                              class="btn btn-danger btn-link btn-sm"
                              rel="tooltip"
                              title="Remove"
                              type="button"
                            >
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                />
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td>
                            Sign contract for "What are conference organizers
                            afraid of?"
                          </td>
                          <td class="td-actions text-right">
                            <button
                              class="btn btn-primary btn-link btn-sm"
                              rel="tooltip"
                              title="Edit Task"
                              type="button"
                            >
                              <i class="material-icons">edit</i>
                            </button>
                            <button
                              class="btn btn-danger btn-link btn-sm"
                              rel="tooltip"
                              title="Remove"
                              type="button"
                            >
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="tab-pane" id="settings">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                />
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td>
                            Lines From Great Russian Literature? Or E-mails From
                            My Boss?
                          </td>
                          <td class="td-actions text-right">
                            <button
                              class="btn btn-primary btn-link btn-sm"
                              rel="tooltip"
                              title="Edit Task"
                              type="button"
                            >
                              <i class="material-icons">edit</i>
                            </button>
                            <button
                              class="btn btn-danger btn-link btn-sm"
                              rel="tooltip"
                              title="Remove"
                              type="button"
                            >
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  checked
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                />
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td>
                            Flooded: One year later, assessing what was lost and
                            what was found when a ravaging rain swept through
                            metro Detroit
                          </td>
                          <td class="td-actions text-right">
                            <button
                              class="btn btn-primary btn-link btn-sm"
                              rel="tooltip"
                              title="Edit Task"
                              type="button"
                            >
                              <i class="material-icons">edit</i>
                            </button>
                            <button
                              class="btn btn-danger btn-link btn-sm"
                              rel="tooltip"
                              title="Remove"
                              type="button"
                            >
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="form-check">
                              <label class="form-check-label">
                                <input
                                  checked
                                  class="form-check-input"
                                  type="checkbox"
                                  value=""
                                />
                                <span class="form-check-sign">
                                  <span class="check"></span>
                                </span>
                              </label>
                            </div>
                          </td>
                          <td>
                            Sign contract for "What are conference organizers
                            afraid of?"
                          </td>
                          <td class="td-actions text-right">
                            <button
                              class="btn btn-primary btn-link btn-sm"
                              rel="tooltip"
                              title="Edit Task"
                              type="button"
                            >
                              <i class="material-icons">edit</i>
                            </button>
                            <button
                              class="btn btn-danger btn-link btn-sm"
                              rel="tooltip"
                              title="Remove"
                              type="button"
                            >
                              <i class="material-icons">close</i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid">
        <nav>
          <ul>
            <li>
              <a href="#"> About Us </a>
            </li>
            <li>
              <a href="#"> Blog </a>
            </li>
            <li>
              <a href="#"> Projects </a>
            </li>
          </ul>
        </nav>
        <div class="copyright">&copy; 2023</div>
      </div>
    </footer>
  </div>
</div>
