<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Барона Карла Фридриха Иеронима фон Мюнхгаузена:</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>#</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Приоритет</th>
        <th>Дата</th>
        <th>Статус</th>
      </thead>
      <tbody>
        <tr
          *ngFor="let task of tasks; let i = index"
          [class.completed]="task.completed"
        >
          <td>{{ i + 1 }}</td>
          <td>{{ task.title }}</td>
          <td [class.empty]="!task.category">
            {{ task.category?.title || "Без категории" }}
          </td>
          <td [class.empty]="!task.priority">
            {{ task.priority?.title || "Без приоритета" }}
          </td>
          <td [class.empty]="!task.date">
            {{ task.date ? (task.date | date : "MMM d, y") : "Без даты" }}
          </td>
          <td>
            <div class="form-check">
              <label class="form-check-label">
                <input
                  (click)="toggleClassCompleted(task)"
                  [checked]="task.completed"
                  class="form-check-input"
                  type="checkbox"
                  value=""
                />
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
