<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Барона Карла Фридриха Иеронима фон Мюнхгаузена:</h4>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>#</th>
        <th>Название</th>
        <th>Категория</th>
        <th>Приоритет</th>
        <th>Дата</th>
        <th>Статус</th>
      </thead>
      <tbody>
        <tr *ngFor="let task of tasks; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ task.title }}</td>
          <td>
            {{ task.category != null ? task.category.title : "Без категории" }}
          </td>
          <td>{{ task.priority?.title }}</td>
          <td>{{ task.date | date : "MMM d, y" }}</td>
          <td>{{ task.completed }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
