th {
  padding-right: 5px;
}
.form-check .form-check-input:checked + .form-check-sign .check {
  background: #fc9208;
}
.completed {
  text-decoration: line-through;
  color: #bbb;
}
.empty {
  color: #bbb;
}
.no-data {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
